{
  "openapi": "3.0.1",
  "info": {
    "title": "Table API",
    "description": "Allows you to perform create, read, update and delete (CRUD) operations on existing tables",
    "version": "latest"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "description": "You can access this resource via API Key auth.",
        "in": "header",
        "name": "x-sn-apikey",
        "type": "apiKey"
      },
      "BasicAuth": {
        "description": "You can access this resource via basic auth.",
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.servicenow.com/?context=CSHelp:REST-Table-API"
  },
  "servers": [
    {
      "url": "https://dev251618.service-now.com/"
    }
  ],
  "paths": {
    "/api/now/table/{tableName}": {
      "get": {
        "description": "Retrieve records from a table",
        "operationId": "findAllRecords",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_query",
            "in": "query",
            "description": "An encoded query string used to filter the results",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_suppress_pagination_header",
            "in": "query",
            "description": "True to supress pagination header (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_limit",
            "in": "query",
            "description": "The maximum number of results returned per page (default: 10,000)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_query_category",
            "in": "query",
            "description": "Name of the query category (read replica category) to use for queries",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_no_count",
            "in": "query",
            "description": "Do not execute a select count(*) on table (default: false)",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        },
        "tags": [
          "Table"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "post": {
        "description": "Create a record",
        "operationId": "createRecord",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_suppress_auto_sys_field",
            "in": "query",
            "description": "True to suppress auto generation of system fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        },
        "tags": [
          "Table"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    },
    "/api/now/table/{tableName}/{sys_id}": {
      "get": {
        "description": "Retrieve a record",
        "operationId": "findRecordById",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false) ",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        },
        "tags": [
          "Table"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "put": {
        "description": "Modify a record",
        "operationId": "modifyRecord",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_suppress_auto_sys_field",
            "in": "query",
            "description": "True to suppress auto generation of system fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false)",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        },
        "tags": [
          "Table"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "delete": {
        "description": "Delete a record",
        "operationId": "deleteRecord",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false)",
            "required": false,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        },
        "tags": [
          "Table"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      },
      "patch": {
        "description": "Update a record",
        "operationId": "updateRecord",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {}
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_suppress_auto_sys_field",
            "in": "query",
            "description": "True to suppress auto generation of system fields (default: false)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {}
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false)",
            "required": false,
            "schema": {}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {},
            "application/xml": {},
            "text/xml": {}
          }
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {},
              "application/xml": {},
              "text/xml": {}
            }
          }
        },
        "tags": [
          "Table"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "BasicAuth": []
          }
        ]
      }
    }
  }
}
